{{!< layout.hbs }}
<div class="{{page.metadata.slug}} wrapper">

  {{#with page}}
    <h1 class="title">{{title}}</h1>
    <p class="subheading">{{metadata.subheading}}</p>
    <div class="content">
      {{{html}}}
    </div>
  {{/with}}
  
  <h2>Web Development</h2>
  {{#list env contents listName='web' sort='date' sortDescending='true'}}
    {{> web-list-item}}
  {{/list}}

  <h2>Music</h2>
  {{#list env contents listName='music' sort='date' sortDescending='true'}}
    {{> music-list-item}}
  {{/list}}

  <h2>Other Sounds</h2>
  {{#list env contents listName='sound' sort='date' sortDescending='true'}}
    {{> sound-list-item}}
  {{/list}}

  <p class="copyright">&copy; Tobias Butler {{current-year}}</p>

</div>
