{{!< layout.hbs }}
<div class="{{page.metadata.slug}} wrapper">

  {{#with page}}
    <h1 class="title">{{title}}</h1>
    <p class="subheading">{{metadata.subheading}}</p>
    <div class="content">
      {{{html}}}
    </div>
  {{/with}}
  
  <p class="copyright">&copy; Tobias Butler {{current-year}}</p>

</div>
